<div class="events_title_box center" layout="row"  layout-align="center center">
    <h1><div>ABOUT</div></h1>
</div>
<div flex layout="row">
    <md-sidenav layout="column"  ng-controller="meetingsController" ng-include src="'partials/sideNav.html'" md-component-id="left" md-is-locked-open="$mdMedia('gt-xs')" class="md-sidenav-left md-whiteframe-1dp" flex-gt-sm="20" flex-gt-xs="30"></md-sidenav>
    <md-content id="content" layout="column" flex layout-padding>

    </md-content>
    <md-sidenav layout="column" md-component-id="right" md-is-locked-open="$mdMedia('gt-sm')"class="md-sidenav-right" flex-gt-md="20" flex-gt-sm="20"></md-sidenav>
</div>
