<md-dialog class="toCenter dialogVerify" aria-label="Aler users verify" flex-gt-lg="25" flex-gt-md="30" flex-gt-sm="35" flex-gt-xs="40"  ng-cloak>
    <h2>What person are you ?</h2>
    <md-content class="md-3-line verifyUserBox" ng-repeat="person in data.content">
        <div ng-click="choosePerson(person)">{{person.wholeName.split(' ')[2] + ' ' +person.wholeName.split(' ')[1].substring(0,person.wholeName.split(' ')[1].length-1)+
            ' '+person.wholeName.split(' ')[0] + ', ' + person.department + ', ID: ('+ person.id+')'}}</div>
    </md-content>
</md-dialog>
