<div layout="column" class="background_page"  ng-cloak flex>
    <div id="backgroundImage"></div>
    <div flex></div>
    <div class="autoscroll background_inherit credential_box" flex>
        <form name="loginForm" layout="row" ng-submit="submitForm()" autocomplete="off">
            <div flex flex-xs="10"></div>
            <div flex-gt-md="25" flex-gt-sm="35" flex-gt-xs="55" flex-xs="80">
                <div><h1 class="md-display-2">Sign in</h1></div>
                <md-input-container class="md-icon-float md-block" >
                    <label>STU email</label>
                    <md-icon class="md-light">person</md-icon>
                    <input id="inputWhite1" required name="stuEmail" type="text" ng-model="login.stuEmail" autocomplete="off">
                    <div ng-messages="loginForm.userName.$error">
                        <div ng-message="required">STU email is required.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-icon-float md-block" >
                    <label>STU password</label>
                    <md-icon class="md-light">lock</md-icon>
                    <input id="inputWhite2" required name="stuPassword" type="password" ng-model="login.stuPassword" autocomplete="off">
                    <div ng-messages="loginForm.password.$error">
                        <div ng-message="required">Password is required.</div>
                    </div>
                </md-input-container>
                <md-button class="md-raised md-primary" type="submit">Sign in</md-button>
                <a href="#register"><md-button>Sign up</md-button></a>
            </div>
            <div flex></div>
        </form>
    </div>
    <div flex></div>
</div>