<md-dialog aria-label="Typ meetingu" flex-gt-lg="70" flex-gt-md="75" flex-gt-sm="80" flex-gt-xs="85"  ng-cloak>
    <form name="eventCreate">
        <md-toolbar class="white_text">
            <div class="md-toolbar-tools">
                <md-icon ng-bind="getTypeOfMeeting(event.type).icon" ng-hide="!hideCreatingMeeting"></md-icon>
                <md-icon ng-bind="getTypeOfMeeting(newEvent.type).icon" ng-hide="hideCreatingMeeting"></md-icon>
                <h2 class="topbar_box_name" ng-bind="getTypeOfMeeting(event.type).name" ng-hide="!hideCreatingMeeting"></h2>
                <md-input-container class="topbar_box_name" ng-hide="hideCreatingMeeting">
                    <md-select ng-model="newEvent.type" aria-label="Close">
                        <md-option ng-repeat="typing in typesOfMeeting" ng-value="typing.text" ng-selected="typing.text == defaultSelectType">
                            {{getTypeOfMeeting(typing.text).name}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <span flex></span>
                <div layout="row" ng-show="$root.user.isGoing">
                    <div class="padd_top_6">Invitation accepted</div>
                    <md-button class="secondary-color md-raised" aria-label="decline event" ng-click="declineInvitation()">DECLINE INVITATION</md-button>
                </div>
                <div layout="row" ng-show="$root.user.isNotGoing">
                    <div class="padd_top_6">Invitation declined</div>
                    <md-button class="primary-color-lighter md-raised" aria-label="decline event" ng-click="acceptInvitation()">ACCEPT INVITATION</md-button>
                </div>
                <div ng-show="$root.user.isInvited">
                    <md-button class="primary-color-lighter md-raised" aria-label="accept event" ng-click="acceptInvitation()">ACCEPT INVITATION</md-button>
                    <md-button class="secondary-color md-raised" aria-label="decline event" ng-click="declineInvitation()">DECLINE INVITATION</md-button>
                </div>
                <div ng-hide="$root.user.isGoing || $root.user.isNotGoing || $root.user.isInvited || $root.user.isAuthor || !hideCreatingMeeting">
                    <md-button class="primary-color-lighter md-raised" aria-label="accept event" ng-click="acceptInvitation()">GO TO EVENT</md-button>
                </div>
                <md-button class="md-icon-button" ng-hide="showEditEvent || isEdited" ng-click="setToEditMeeting()">
                    <md-icon>edit</md-icon>
                </md-button>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon>close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content" layout-gt-sm="row">
                <md-content flex-gt-sm="70">
                    <md-input-container ng-hide="hideCreatingMeeting" md-is-error="eventCreate.title.$invalid" class="md-icon-float md-block" flex-gt-xs="30" >
                        <label>Event title</label>
                        <input name="title" ng-model="newEvent.title" type="text">
                    </md-input-container>
                    <h2 ng-hide="!hideCreatingMeeting">{{event.title}}</h2>
                    <md-content layout-gt-xs="row">
                        <div flex>
                            <div ng-hide="!hideCreatingMeeting" class="margin_top9">
                                {{ $root.getTypeOfVisibility(event.visibility).label }}
                            </div>
                            <md-checkbox  ng-model="newEvent.visibility" ng-true-value="'PUBLIC'" ng-false-value="'PRIVATE'" class="md-primary margin_top9" aria-label="visibility" ng-hide="hideCreatingMeeting">
                                {{ $root.getTypeOfVisibility(newEvent.visibility).label }}
                            </md-checkbox>
                        </div>
                        <md-datepicker class="marg_right0" ng-model="event.myDate" ng-hide="!hideCreatingMeeting" ng-disabled="true"></md-datepicker>
                        <md-datepicker name="date" md-is-error="eventCreate.date.$invalid" class="marg_right0" ng-model="newEvent.tempDateForEvent" md-placeholder="Enter date" ng-hide="hideCreatingMeeting"></md-datepicker>
                        <md-content flex-gt-xs="15" layout-gt-xs="row" class="padd_top_2">
                            <div flex class="padd_top_5"><md-icon>access_time</md-icon></div>
                            <md-input-container md-is-error="eventCreate.hours.$invalid" class="md-icon-float md-block margin_none " flex-gt-xs="35"  ng-hide="hideCreatingMeeting">
                                <label>HH</label>
                                <input name="hours" type="text" ng-model="newEvent.hours" ng-hide="hideCreatingMeeting" pattern="([01]?[0-9]|2[0-3])">
                            </md-input-container><b class="padd_top_10"><span ng-hide="hideCreatingMeeting">:</span></b>
                            <md-input-container md-is-error="eventCreate.minutes.$invalid" class="md-icon-float md-block margin_none" flex-gt-xs="35" ng-hide="hideCreatingMeeting">
                                <label>MM</label>
                                <input name="minutes" type="text" ng-model="newEvent.minutes" ng-hide="hideCreatingMeeting" pattern="[0-5][0-9]">
                            </md-input-container>
                            <md-input-container class="md-icon-float md-block margin_none" flex-gt-xs="35" ng-hide="!hideCreatingMeeting">
                                <label>HH</label>
                                <input  type="text" ng-model="event.hours" ng-hide="!hideCreatingMeeting" ng-disabled="true">
                            </md-input-container><b class="padd_top_10"><span ng-hide="!hideCreatingMeeting">:</span></b>
                            <md-input-container class="md-icon-float md-block margin_none" flex-gt-xs="35" ng-hide="!hideCreatingMeeting">
                                <label>MM</label>
                                <input type="text" ng-model="event.minutes" ng-hide="!hideCreatingMeeting" ng-disabled="true">
                            </md-input-container>
                        </md-content>
                    </md-content>
                    <br>
                    <div ng-hide="!hideCreatingMeeting" ng-bind="event.description"></div>
                    <md-input-container class="md-block" ng-hide="hideCreatingMeeting" md-is-error="eventCreate.description.$invalid">
                        <label>Description</label>
                        <textarea name="description" columns="1" rows="3" ng-model="newEvent.description"></textarea>
                    </md-input-container>
                    <br>
                    <md-input-container class="md-icon-float md-block" flex-gt-xs="30" class="md-whiteframe-10dp" ng-hide="!hideCreatingMeeting">
                        <label>Place</label>
                        <md-icon>place</md-icon>
                        <input name="location" type="text" ng-model="event.location"  ng-disabled="true">
                    </md-input-container>
                    <md-input-container md-is-error="eventCreate.location.$invalid" class="md-icon-float md-block" flex-gt-xs="30" class="md-whiteframe-10dp" ng-hide="hideCreatingMeeting">
                        <label>Place</label>
                        <md-icon>place</md-icon>
                        <input name="location" type="text" ng-model="newEvent.location" ng-hide="hideCreatingMeeting">
                    </md-input-container>




                    <md-content layout="column" class="margin_top20" ng-hide="!hideCreatingMeeting" >
                        <md-divider></md-divider>
                        <h3>Comments</h3>
                        <div class="margin_top20">
                            <form name="commentForm" id="commentForm" ng-submit="addComment()">
                                <div layout-gt-sm="row">
                                    <md-input-container class="md-icon-float md-block margin_none" flex-gt-sm="85">
                                        <label>Write a comment</label>
                                        <md-icon class="md-dark">comment</md-icon>
                                        <input ng-model="newComment.content" type="text" name="newComment" required>
                                    </md-input-container>
                                    <md-button type="submit" ng-disabled="commentForm.$invalid" ng-click="addComment()" class="md-raised addComment" >Add comment</md-button>
                                </div>
                            </form>
                        </div>
                        <div class="comments_box" flex>
                            <md-list>
                                <md-list-item class="" ng-repeat="comment in comments" layout="column">
                                    <div class="md-whiteframe-z1 comment_box" flex-gt-sm="95">
                                        <i class="md-caption"><span>{{comment.author.username}}</span> : <span ng-bind="$root.setDateFormat(comment.timestamp,true)"></span></i>
                                        <div>{{comment.content}}</div>
                                    </div>
                                </md-list-item>
                            </md-list>
                        </div>
                    </md-content>

                </md-content>
                <div flex="5" hide-sm hide-xs></div>
                <div layout="column" flex-gt-sm="25" class="" flex-sm flex-xs>
                    <h2 class="md-title" layout="row" layout-align="center center"  ng-hide="!hideCreatingMeeting">Authors</h2>
                    <md-content ng-hide="!hideCreatingMeeting">
                        <md-chips ng-model="authors" name="authors" readonly="true">
                            <md-chip-template>
                                <span>{{$chip.name + ' ' + $chip.surname}}</span>
                            </md-chip-template>
                        </md-chips>
                    </md-content>
                    <h2 class="md-title" layout="row" layout-align="center center">People</h2>

                    <md-content>
                        <md-tabs md-dynamic-height md-border-bottom>
                            <md-tab label="Invited">
                                <md-content class="md-padding autocomplete padd_left0" layout="column">
                                    <md-chips ng-model="selectedPeople" md-autocomplete-snap
                                              md-transform-chip="transformChip($chip)"
                                              md-require-match="true"
                                              ng-if="!hideCreatingMeeting">
                                        <md-autocomplete
                                                md-selected-item="selectedItem"
                                                md-search-text="searchText"
                                                md-items="item in querySearch(searchText)"
                                                md-item-text="item.username"
                                                placeholder="Search for people to invite">
                                            <span md-highlight-text="searchText">{{item.name + ' ' + item.surname}}{{' ( '+item.username+' )'}}</span>
                                        </md-autocomplete>
                                        <md-chip-template>
                                            <span>
                                                <span>{{$chip.name + ' ' + $chip.surname}}</span>
                                                <em>({{$chip.username}})</em>
                                            </span>
                                        </md-chip-template>
                                    </md-chips>


                                    <md-chips ng-model="peopleInvited" name="peopleInvited" readonly="true">
                                        <md-chip-template>
                                            <span>{{$chip.name + ' ' + $chip.surname}}</span>
                                            <em>({{$chip.username}})</em>
                                        </md-chip-template>
                                    </md-chips>
                                </md-content>
                            </md-tab>
                            <md-tab label="Going" ng-if="hideCreatingMeeting">
                                <md-content class="md-padding">
                                    <md-chips ng-model="going"  name="goingPeople" readonly="true" md-max-chips="5">
                                        <md-chip-template>
                                            <span>{{$chip.name + ' ' + $chip.surname}}</span>
                                            <em>({{$chip.username}})</em>
                                        </md-chip-template>
                                    </md-chips>
                                </md-content>
                            </md-tab>
                            <md-tab label="Not going" ng-if="hideCreatingMeeting">
                                <md-content class="md-padding">
                                    <md-chips ng-model="notGoing"  name="notGoing" readonly="true" md-max-chips="5">
                                        <md-chip-template>
                                            <span>{{$chip.name + ' ' + $chip.surname}}</span>
                                            <em>({{$chip.username}})</em>
                                        </md-chip-template>
                                    </md-chips>
                                </md-content>
                            </md-tab>
                        </md-tabs>
                    </md-content>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="createEditEvent()" class="md-raised secondary-color" aria-label="create event" ng-hide="hideCreatingMeeting">
                <span ng-hide="isEdit">Create</span><span ng-show="isEdit">Edit</span>
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>