<div class="events_title_box center" layout="row"  layout-align="center center">
    <h1><div>{{eventsLabel}}</div></h1>
</div>
<div class="flex" layout="row">
    <md-sidenav layout="column"  ng-include src="'partials/sideNav.html'" md-component-id="left" md-is-locked-open="$mdMedia('gt-xs')" class="md-sidenav-left md-whiteframe-1dp" flex-gt-sm="20" flex-gt-xs="30"></md-sidenav>
    <md-content id="content" flex layout-padding>

        <md-list>
            <md-divider></md-divider>
            <md-list-item class="md-2-line" ng-click="showEvent($event,event.id,true)" ng-repeat="event in $root.events">
                <md-icon ng-bind="getTypeOfMeeting(event.type).icon" ng-class=$root.getTypeOfVisibility(event.visibility).class[0]></md-icon>
                <div class="md-list-item-text meetings-content-box" layout="row" layout-align="space-between">
                    <div flex="40">
                        <h3>{{event.title}}</h3>
                        <p>{{setDescription(event.description)}}</p>
                    </div>
                    <div flex="35">
                        <md-icon ng-class=$root.getTypeOfVisibility(event.visibility).class[0]>place</md-icon><span class="md-body-2">{{event.location}}</span>
                    </div>
                    <div flex="25">
                        <md-icon ng-class=$root.getTypeOfVisibility(event.visibility).class[0]>date_range</md-icon> <span class="md-body-2" ng-bind="$root.setDateFormat(event.timestamp,true)"></span>
                    </div>
                </div>
                <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
            <md-divider></md-divider>
        </md-list>
    </md-content>
    <md-sidenav layout="column" md-component-id="right" md-is-locked-open="$mdMedia('gt-sm')"class="md-sidenav-right" flex-gt-md="20" flex-gt-sm="20">
        <div ng-show="actualFilter==0" layout="column" layout-align="center center">
            <h3 class="margin_none">SEARCH EVENTS</h3>
            <md-input-container class="searchEventsBox" flex-gt-sm>
                <input ng-model="keyword" type="text" name="keyword" ng-change="getSearchedEvents()" class="text-center" aria-label="keyword">
            </md-input-container>
        </div>
    </md-sidenav>
    <div layout="row" class="z-id-99">
        <md-button md-component-id="addMeeting" class="secondary-color md-fab md-fab-bottom-right" ng-show="myAnswer" ng-click="showEvent($event,0,false)">
            <md-icon class="material-icon md-36">add</md-icon>
        </md-button>
    </div>
</div>
