<div class="events_title_box center" layout="row"  layout-align="center center">
    <h1><div>PROFILE</div></h1>
</div>

<div layout="row" flex="">
    <md-sidenav layout="column" ng-controller="meetingsController"  ng-include src="'partials/sideNav.html'" md-component-id="left" md-is-locked-open="$mdMedia('gt-xs')" class="md-sidenav-left md-whiteframe-1dp" flex-gt-sm="20" flex-gt-xs="30"></md-sidenav>
    <md-content id="content" layout="row" flex layout-padding>
        <div flex="35">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <!--<span class="md-headline">Card with image</span>
                        <span class="md-subhead">Extra Large</span>-->
                    </md-card-title-text>
                </md-card-title>
                <md-card-content layout="row">
                    <div class="card-media position_relative">
                        <div class="editPhotoButton" >
                            <form>
                                <label for="file-input"><md-icon class="ButtonIcon">edit</md-icon></label>
                                <input type="file" name="picture" id="file-input" ng-click="showEditPhoto()" ng-file-select="onFileSelect($files)" ng-model="$root.user.imageLink" file-model="myFile">
                            </form>
                        </div>
                        <div ng-show="$root.user.canDelete" class="deletePhotoButton" ng-really-message="Are you sure?" ng-really-click="deletePhoto()">
                            <md-icon class="ButtonIcon">close</md-icon>
                        </div>
                        <img class="user_image" src="../assets/images/avatar.jpg" ng-src="{{$root.user.imageLink}}" alt="avatar">
                    </div>
                </md-card-content>
            </md-card>
            <md-card ng-show="editPhoto">
                <md-button ng-click="uploadPhoto()">Save photo</md-button>
            </md-card>

            <md-card>
                <md-card-content>
                    <md-input-container class="md-block">
                        <label>Description</label>
                        <textarea ng-model="user.description" rows="5" form="userForm" md-select-on-focus></textarea>
                    </md-input-container>
                </md-card-content>
            </md-card>
        </div>
        <div flex="65" layout="column">
             <md-card>
                 <md-card-content>
                     <md-card-title-text>
                         <span class="md-display-1 userInfo">User information</span>
                     </md-card-title-text>
                     <div class="card-media margin_top20">
                        <md-content>
                            <div>
                                <form name="userForm" id="userForm">
                                    <div layout-gt-sm="row">
                                        <md-input-container class="md-icon-float md-block" flex-gt-sm>
                                            <label>First name</label>
                                            <md-icon class="md-dark">person</md-icon>
                                            <input ng-model="$root.user.name" type="text" name="name" required>
                                        </md-input-container>
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Surname</label>
                                            <input ng-model="$root.user.surname" type="text" name="surname" required>
                                        </md-input-container>
                                    </div>
                                    <div layout-gt-sm="row">
                                        <md-input-container class="md-icon-float md-block" flex-gt-sm="50">
                                            <label>User name</label>
                                            <md-icon class="md-dark">account_box</md-icon>
                                            <input ng-model="$root.user.username" type="text" name="username" required>
                                        </md-input-container>
                                    </div>
                                    <div layout-gt-sm="row">
                                        <md-input-container class="md-icon-float md-block" flex-gt-sm="50">
                                            <label>STU email</label>
                                            <md-icon class="md-dark">mail</md-icon>
                                            <input ng-model="$root.user.stuEmail" type="email" name="stuEmail" required>
                                            <span style="color: rgb(221,44,0);" ng-show="userForm.stuEmail.$dirty && userForm.stuEmail.$invalid">
                                            <span ng-show="userForm.stuEmail.$error.required">Email is required.</span>
                                            <span ng-show="userForm.stuEmail.$error.email">Invalid email address.</span>
                                            </span>
                                        </md-input-container>
                                    </div>
                                    <div layout-gt-sm="row">
                                        <md-input-container class="md-icon-float md-block" flex-gt-sm="50">
                                            <label>Secondary email</label>
                                            <md-icon class="md-dark">mail_outline</md-icon>
                                            <input ng-model="$root.user.secondaryEmail" type="email"  name="secondaryEmail">
                                            <span style="color: rgb(221,44,0);" ng-show="userForm.secondaryEmail.$dirty && userForm.secondaryEmail.$invalid">
                                            <span ng-show="userForm.secondaryEmail.$error.email">Invalid email address.</span>
                                            </span>
                                        </md-input-container>
                                    </div>
                                    <md-button type="submit" ng-disabled="userForm.$invalid"  ng-really-message="Are you sure?" ng-really-click="saveProfile()" class="md-raised saveProfile">Save profile</md-button>
                                </form>
                            </div>

                        </md-content>
                     </div>
                 </md-card-content>
             </md-card>
        </div>
    </md-content>
    <md-sidenav layout="column" md-component-id="right" md-is-locked-open="$mdMedia('gt-sm')"class="md-sidenav-right" flex-gt-md="20" flex-gt-sm="20"></md-sidenav>
</div>