<div layout="column" class="background_page"  ng-cloak flex>
    <div id="backgroundImage"></div>
    <div flex></div>
    <md-content class="autoscroll background_inherit registerFormContent" flex="80">
        <form name="registerForm" layout="row" id="registerForm" ng-submit="submitForm()">
            <div flex flex-xs="10"></div>
            <div flex-gt-md="25" flex-gt-sm="35" flex-gt-xs="55" flex-xs="80" id="registerContent">
                <div><h1 class="md-display-2">Sign up</h1></div>
                <md-input-container class="md-icon-float md-block" >
                    <label>Username</label>
                    <md-icon class="md-light">person</md-icon>
                    <input id="inputWhite1" required name="username" type="text" ng-model="person.username"  autocomplete="off">
                    <div ng-messages="registerForm.username.$error">
                        <div ng-message="required">Username is required.</div>
                    </div>
                </md-input-container>
                <div layout-gt-sm="row">
                    <md-input-container class="md-icon-float md-block" flex="80">
                        <label>STU email</label>
                        <md-icon class="md-light">email</md-icon>
                        <input id="inputWhite2" required name="stuEmail" type="email" ng-model="person.stuEmail"  autocomplete="off">
                        <div ng-messages="registerForm.stuEmail.$error">
                            <div ng-message="required">Email is required.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-icon-float md-block" flex="20">
                        <md-button ng-click="verifyEmail()" ng-class="verifiedClass">Verify</md-button>
                    </md-input-container>
                </div>
                <md-input-container class="md-icon-float md-block">
                    <label>STU password</label>
                    <md-icon class="md-light">lock</md-icon>
                    <input id="inputWhite3" required name="stuPassword" type="password" ng-model="person.stuPassword"  autocomplete="off">
                    <div ng-messages="registerForm.stuPassword.$error">
                        <div ng-message="required">Password is required.</div>
                    </div>
                </md-input-container>
                <input type="text" name="name" ng-model="person.name" ng-show="false">
                <input type="text" name="surname"  ng-model="person.surname" ng-show="false">
                <input type="number" name="id"  ng-model="person.id" ng-show="false">
                <md-button  type="submit" id="regButtonDisabled" ng-disabled="registerForm.$invalid || unverified" class="md-raised md-primary">Sign up</md-button>
                <div flex class="backToLoginText">I am registered, back to <a href="#login">Login</a>.</div>
            </div>
            <div flex></div>
        </form>

    </md-content>
    <div flex></div>
</div>