<!--<div class="padding-sideNav"></div>-->
<md-divider></md-divider>

<a href="#/">
    <md-button class="full_width" ng-click="getHome()">
        <md-icon>home</md-icon>
        Home
    </md-button>
</a>



<div class="filters_title_box center">
    <div>FILTERS</div>
</div>

<div class="inset" layout-wrap ng-cloak>
    <div layout="row">
    <div flex-gt-xs="15"></div>
    <div flex-gt-xs="70" layout="column" layout-align="left">
        <md-button class="filters_button" ng-click="getUnconfirmed()">
            <div>
                <md-icon>help</md-icon>
                UNCONFIRMED
            </div>
        </md-button>

        <md-button class="filters_button" ng-click="getOwn()">
            <div>
                <md-icon>person_pin</md-icon>
                OWN
            </div>
        </md-button>

        <md-button class="filters_button" ng-click="getDeclined()">
            <div>
                <md-icon>delete_forever</md-icon>
                DECLINED
            </div>
        </md-button>
        <md-button class="filters_button" ng-click="getOld()">
            <div>
                <md-icon>update</md-icon>
                OLD
            </div>
        </md-button>
    </div>
    <div flex=""></div>
    </div>
</div>
<div flex=""></div>

<a href="#/profile">
    <md-button class="full_width">
        <md-icon>account_circle</md-icon>
        {{$root.user.name+' '+$root.user.surname}}
    </md-button>
</a>

<a href="http://147.175.106.222/~StuMee/web/#/homepage" target="_blank">
    <md-button class="full_width">
        <md-icon>info</md-icon>
        About
    </md-button>
</a>

<a href="#" onclick="return false;">
    <md-button class="full_width"  ng-click="logoutFromApp()">
        <md-icon>exit_to_app</md-icon>
        Logout
    </md-button>
</a>