<md-button class="menu" ng-click="toggleList()" ng-show="burgerSidenavShow"  hide-gt-xs>
    <md-icon> menu </md-icon>
</md-button>
<div flex layout="row" layout-align="center center" class="topBar">
    <md-button class="topBar" aria-label="StuMee icon" ng-disabled="true">
        <img src="assets/icons/logo.png" height="80" alt="Bookmark">
    </md-button>
</div>

<!--
<md-menu>
    <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="Open some menu">
        <md-icon> more_vert</md-icon>
    </md-button>
    <md-menu-content>
        <md-menu-item>
            <md-button ng-click="" aria-label="Settings">

                Settings
            </md-button>
        </md-menu-item>
        <md-menu-item>
            <md-button ng-click="" aria-label="About">

                About
            </md-button>
        </md-menu-item>
    </md-menu-content>
</md-menu>-->