/****************FONTS****************/
@font-face {
    font-family: RobotoThin;
    src: url('../fonts/Roboto-Thin.ttf')format('truetype');
}

@font-face {
    font-family: RobotoLight;
    src: url('../fonts/Roboto-Light.ttf')format('truetype');
}


/******************SCROLL BAR **************************/

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 0px none #ffffff;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
    background: #000000;
}
::-webkit-scrollbar-track {
    background: #666666;
    border: 0px none #ffffff;
    border-radius: 26px;
}
::-webkit-scrollbar-track:hover {
    background: #666666;
}
::-webkit-scrollbar-track:active {
    background: #333333;
}
::-webkit-scrollbar-corner {
    background: transparent;
}



/************material icons*****************/
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/******Rules for using icons as black on a light background.*******/
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/*********Rules for using icons as white on a dark background.********/
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.material-icons.md-private { color: rgba(220, 30, 22,1); }
.material-icons.md-private.md-inactive { color: rgba(220, 30, 22,1); }

.material-icons.md-public { color: rgba(0,169,157,1); }
.material-icons.md-public.md-inactive { color: rgba(0,169,157,1); }


/*****************COLOR VISIBILITY EVENTS*************************/
/*.md-public { color: rgba(0,169,157,1); }
.md-private { color: rgba(220, 30, 22,1); }*/

/************People invited input********/

.chipsdemoContactChips md-content.autocomplete {
    min-height: 250px; }
.chipsdemoContactChips md-content.autocomplete input {
    min-width: 400px; }
.chipsdemoContactChips .md-item-text.compact {
    padding-top: 8px;
    padding-bottom: 8px; }
.chipsdemoContactChips .contact-item {
    box-sizing: border-box; }
.chipsdemoContactChips .contact-item.selected {
    opacity: 0.5; }
.chipsdemoContactChips .contact-item.selected h3 {
    opacity: 0.5; }
.chipsdemoContactChips .contact-item .md-list-item-text {
    padding: 14px 0;
    max-width: 190px; }
.chipsdemoContactChips .contact-item .md-list-item-text h3 {
    margin: 0 !important;
    padding: 0;
    line-height: 1.2em !important; }
.chipsdemoContactChips .contact-item .md-list-item-text h3, .chipsdemoContactChips .contact-item .md-list-item-text p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; }
@media screen and (min-width: 960px) {
    .chipsdemoContactChips .contact-item {
        float: left;
        width: 33%; } }
.chipsdemoContactChips md-contact-chips {
    margin-bottom: 10px; }
.chipsdemoContactChips .md-chips {
    padding: 5px 0 8px; }
.chipsdemoContactChips .fixedRows {
    height: 250px;
    overflow: hidden; }

.md-virtual-repeat-container.md-autocomplete-suggestions-container {
    width:380px !important;
}

.md-chips .md-chip-input-container{
    width: 100%;
}
md-autocomplete{
    min-width: 175px;
}

[ng-hide~=true] {
    display: none !important;
}
ng-hide{
    display: none !important;;
}
.ng-hide{
    display: none !important;;
}

md-input-container label{
    color: inherit;
}

/*************Inherit farbe pisma v selecte**********************/
#select_value_label_0{
    color: inherit;
}

/**************error toast *****************/
.md-toast.error {
    background-color: red;
}


/**************OWN DESIGN*******************/

.md-public-background { background-color: rgba(0,169,157,1) !important; }

.md-private-background { background-color: rgba(220, 30, 22,1); }

.primary-color-lighter{
    background-color: rgb(23, 222, 208) !important;
}

.secondary-color{
    background: #EB6564 !important;
    color: white !important;
}

.meeting_box{
    border: solid 1px black;
    border-radius: 5px;
    margin-bottom: 10px;
}

.meetings_box{
    padding-right: 100px;
}

.topbar_box_name{
    padding: 0 30px;
}

.people_content_box{
    padding: 0 24px;
}

.z-id-99{
    z-index: 99;
}

.margin_top16{
    margin-top: 16px;
}

.padd_left0{
    padding-left: 0;
}

.marg_right0{
    margin-right: 0;
}

.background_page{
    background-color: black;
    z-index: 0;
}

.background_inherit{
    color: white;
    background: initial;
}

#backgroundImage{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../images/background.jpg") no-repeat center center fixed;
    background-color: rgba(204, 204, 204, 0.5);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    opacity: .8;
}


body{
    background-color: black;
    font-family: RobotoLight;
}

.filterElement{
    float: right;
    margin-top: 3px;
    margin-left: 10px;
}

.visibility-hidden{
    visibility: hidden;
}

.padding-sideNav{
    padding-top: 70px;
}

.typeLine{
    position: absolute;
    left: 0;
    height: 100%;
    top: 0;
    width: 10px;
}

.typeLine-content{
    width: 100%;
    height: 93%;
    margin: 2px 0;
}

.meetings-content-box{
    padding-left: 10px;
}

.events_title_box{
    background-color: #F7F7F7 !important;
    min-height: 80.88px;
}

.filters_title_box{
    background-color: #F7F7F7 !important;
    font-size: 16px;
    line-height: 64px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
    text-align: center;
}

md-sidenav button{
    height: 64px;
    font-size: 16px !important;
    padding: 0 !important;
    margin: 6px 1px !important;
}

md-sidenav{
    padding: 16px 15px;
}

h1, h2, h3, h4, h5{
    font-weight: normal !important;
}

.white_text{
    color: white !important;
}

.white_text md-icon{
    color: white !important;
}

.md-button.md-primary.md-fab:not([disabled]) md-icon {
    color: white;!important;
}

md-checkbox.md-default-theme:not([disabled]).md-primary.md-checked .md-icon:after, md-checkbox:not([disabled]).md-primary.md-checked .md-icon:after {
    border-color: white !important;
}

.user_image{
    width: 100%;
}

.saveProfile{
    float: right;
}

.userInfo{
    padding-left: 35px;
}

.margin_top20{
    margin-top: 20px;
}

.margin_top9{
    margin-top: 9px;
}


.margin_top80{
    margin-top: 80px;
}

a{
    text-decoration: none;
    color: inherit;
}

.full_width{
    width: 100%;
}

.comment_box{
    width: 100%;
    background-color: #EEEEEE;
    padding: 10px 15px;
    margin-top: 10px;
}

.addComment{
    height: 50%;
}

.margin_none{
    margin: 0;
}

.comments_box{
    overflow-y: auto;
    overflow-x: hidden;
    height: 150px;
}

.padd_top_2{
    padding-top: 2px;
}

.padd_top_5{
    padding-top: 5px;
}

.padd_top_6{
    padding-top: 6px;
}

.padd_top_10{
    padding-top: 10px;
}

.editPhotoButton{
    position: absolute;
}

.deletePhotoButton{
    position: absolute;
    right: 0;
}

.editPhotoButton:hover .ButtonIcon,.deletePhotoButton:hover  .ButtonIcon{
    color: rgba(0,169,157,1);
    cursor: pointer;
}


#file-input {
    display: none;
}

input:-webkit-autofill {
    -webkit-text-fill-color: black !important;
}

#inputWhite1,#inputWhite2, #inputWhite3{
    color: white !important;
}

.position_relative{
    position: relative;
}

.backToLoginText{
    font-size: smaller;
    text-align: center;
}

.backToLoginText a{
    color: rgba(0,169,157,1);
}

.backToLoginText a:hover{
    color: rgb(46, 225, 213);
}

#regButtonDisabled[disabled=disabled]{
    background-color: rgba(48, 48, 48, 0.41) !important;
    color: #B4B4B4 !important;
}

.invalidInput{
    font-size: 12px;
    line-height: 14px;
    overflow: hidden;
    color: rgb(221,44,0);
    padding-top: 5px;
}

#registerForm h2{
    color: black;
}

#registerForm p{
    color: black;
}

#registerForm md-list-item div{
    color: black;
}

.toCenter{
    text-align: center;
}

.verifyUserBox{
    line-height: 35px;
}

.verifyUserBox:hover{
    cursor: pointer;
    background-color: rgba(0, 169, 157, 0.54);
    border-radius: 5px;
}

.dialogVerify{
    padding: 0 10px 15px 10px;
}

.filters_button{
    height: 50px;
    margin: 5px 0!important;
}

.filters_button_box{
    padding: 0 40px;
    text-align: left;
}

.text-center{
    text-align: center  !important;
}

.searchEventsBox{
    margin: 17px 0;
    width: 80%;
}

.topBar{
    height: 80px;
}

.margin_top30_per{
    margin-top: 30%;
}

.credential_box{
    min-height: 400px;
}

.registerFormContent{
    overflow-x: hidden;
}